<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/signup.css">
</head> -->
<!-- <body> -->
    <div class="wrapper">
        <form class = 'form_signup' action="" >
            <div class="container">
                <h1 style="text-align: center;">Form Đăng Ký</h1>
                <p style="text-align: center;">Xin hãy nhập biểu mẫu bên dưới để đăng ký.</p>
                <hr>
                <label for="fullname"><b>Fullname</b></label>
                <input type="text" placeholder="Your fullname" name="name" required>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Your username" name="username" required>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Your password" name="password" required>
                <label for="psw"><b>Gender</b></label>
                <input style="margin-left: 150px" type="radio" name="gender" value="male"> Male
                <input style="margin-left: 290px" type="radio" name="gender" value="female"> Female

                <!-- <label>
                    <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Nhớ Đăng Nhập
                </label> -->
                <div class="clearfix">
                    <button type="submit" class="signupbtn">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
<!-- </body> -->
<!-- </html> -->